streamlit==1.22.0  # Specify a version to avoid compatibility issues
SpeechRecognition==3.10.0
deep-translator==1.11.5
gTTS==2.3.2
playsound==1.3.0
hashlib  # This is part of Python's standard library, no need to include it
pathlib  # Also part of Python's standard library
